@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Quicksand:wght@600&family=Roboto&family=Silkscreen&family=Ubuntu&display=swap');

/* font-family: 'Cedarville Cursive', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Silkscreen', cursive;
font-family: 'Ubuntu', sans-serif; */

/* .nav-button {
    display: block;
    padding: 8px;
    background-color: yellow;
  } */

a:link {
    color: white;
    text-decoration: none;
}

nav > a:link {
    color: white
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    color: white;
    text-decoration: none;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
}

main {
    padding: 16px
}

h1 {
    /* border-bottom: 3px darkblue; */
    color: darkblue;
    font-size: 48px;
    text-align: center;
    /* display: inline-block; */
    font-family: 'Ubuntu', sans-serif;
}

.h1-detail{
    text-align: left;
    inline-size: 400px;
    overflow-wrap: break-word;
}

h2 {
    font-size: 30px;
    font-style: italic;
    text-align: center;
    font-style: oblique;
    font-family: 'Cedarville Cursive', cursive;
}

.h2-detail {
    text-align: left;
    font-style: italic;
    font-family: 'Cedarville Cursive', cursive;
}

h3 {
    color: darkblue;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.p-detail{
    clear: left;
    inline-size: 400px;
    overflow-wrap: break-word;
    padding-top: 20px;
    font-family: 'Ubuntu', sans-serif;
    }


.p-rating-detail {
    clear: left;
    font-style: italic;
    font-family: 'Ubuntu', sans-serif;
}

/* .category {
    font-weight: bold;
} */

.center-text {
    text-align: center;
}

.recipe-rating {
    font-style: italic;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.recipe-grid-tile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* column-gap: 16px;
    width: 200px; */
}

/* .recipe-grid-cover {
    grid-row-start: 1;
    grid-row-end: 6;
    width: 100%;
} */

.bottom-pad{
    padding-bottom: 70px;
}

footer {
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    background-color: goldenrod;
    padding: 15px 0px 15px 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0
}

tr:nth-child(even){
    background-color: lightgray
}

.img-grid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.img-detail {
        float: left;
        border-radius: 20px;
}

img {
    height: 200px;
}

/* .nav > li:not(:last-child) {
    border-right: 1px solid white;
    box-sizing: border-box;
} */

nav {
    font-size: 16px;
    font-family: 'Silkscreen', cursive;
    color: white;
    background-color: goldenrod;
    padding: 15px 0px 15px 10px;
    bottom: 0;
    left: 0;
    right: 0
}

.nav-button {
    background-color: red;
    border: none;
    color: white;
    padding: 10px 10px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .signup-button {
    background-color: yellow;
    border: none;
    color: darkblue;
    padding: 10px 10px;
    border-radius: 12px;
    float: right;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
  }
