{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE Edge" />
        <meta name="viewport"
              content="width=device-device-width, initial-scale=1.0"/>
        <title>Tracker</title>
        <link rel="stylesheet" href="{% static "css/projects.css" %}">
    </head>
    <body>
        <header>
            <nav>
                {% if user.is_authenticated %}
                    <a href="{% url 'show_my_tasks' %}" class="nav-button">My tasks</a>
                    <a href="{% url 'home' %}" class="nav-button">My projects</a>
                    <a href="{% url 'logout' %}" class="nav-button">Logout</a>
                {% endif %}
                <a href="{% url 'login' %}" class="nav-button">Login</a>
                <a href="{% url 'signup' %}" class="nav-button">Signup</a>
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
    </body>
</html>
